#resource_group = "hashitalks-azure-count"
location       = "centralus"
admin_username = "azureroot"
admin_password = "Passw0rd123"

# Network
#vnet_name   = "vnet"
vnet_addr = "10.0.0.0/16"
#subnet_name = "subnet"
subnet_addr = "10.0.1.0/24"

# VMs
vm_count       = 6
add_pub_ip     = true
pub_ip_persist = true
add_boot_diag  = true
vm_image       = "Canonical:0001-com-ubuntu-server-focal-daily:20_04-daily-lts-gen2:20.04.202110150"
vm_name_prefix = "instance"
vm_size        = "Standard_B1ms"
vm_disk_type   = "StandardSSD_LRS"
vm_disk_size   = 40
vm_net_accel   = false
cloudinit      = "files/cloud-init-ubuntu.yaml"
vm_swap_size   = "4096"

# NSG rules
#nsg_name  = "nsg"
nsg_rules = {
  name                       = "SSH,RDP"
  direction                  = "Inbound,Inbound"
  access                     = "Allow,Allow"
  protocol                   = "Tcp,Tcp"
  source_port_range          = "*,*,*,*"
  destination_port_range     = "22,3389"
  source_address_prefix      = "*,*"
  destination_address_prefix = "*,*"
}

# Tags for resources
tags = {
  activity = "hashitalksbrasil2021"
}
